################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Obvs.RabbitMQ/bin
/Obvs.RabbitMQ/obj
/Obvs.RabbitMQ.Tests/bin
/Obvs.RabbitMQ.Tests/obj
/packages
/Obvs.RabbitMQ.sln.DotSettings.user
*.suo
/Obvs.RabbitMQ.Benchmark/bin
/Obvs.RabbitMQ.Benchmark/obj
/Obvs.RabbitMQ.Benchmark/Obvs.RabbitMQ.Benchmark.csproj.user
*.ncrunchsolution
*.ncrunchproject
*.crunchsolution.cache
*.ncrunchsolution.user
