<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Apache.NMS" version="1.7.1" targetFramework="net45" />
  <package id="Apache.NMS.ActiveMQ" version="1.7.2" targetFramework="net45" />
  <package id="Castle.Core" version="4.0.0" targetFramework="net45" />
  <package id="EmbedMq" version="5.10.0.2" targetFramework="net45" />
  <package id="FakeItEasy" version="2.3.3" targetFramework="net45" />
  <package id="Moq" version="4.5.30" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net45" />
  <package id="NUnit" version="3.6.0" targetFramework="net45" />
  <package id="Obvs" version="3.0.0.49" targetFramework="net45" />
  <package id="Obvs.Serialization.Json" version="3.0.1.30" targetFramework="net45" />
  <package id="Rx-Core" version="2.2.5" targetFramework="net45" />
  <package id="Rx-Interfaces" version="2.2.5" targetFramework="net45" />
  <package id="Rx-Linq" version="2.2.5" targetFramework="net45" />
  <package id="Rx-Main" version="2.2.5" targetFramework="net45" />
  <package id="Rx-PlatformServices" version="2.2.5" targetFramework="net45" />
  <package id="Rx-Testing" version="2.2.5" targetFramework="net45" />
</packages>